#container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 960px;
    height: 960px;
    border: 2px solid black;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    border: 1px solid white;
    display: inline-block;
}